<h1>Book Search</h1>
 
<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>
<% if @books != [] %>
  <%= will_paginate  @books %>

  <ul class="books">
    <% @books.each do |book| %>
      <%= render :partial => 'books/book', :locals => {:book => book._source} %>
    <% end %>
  </ul>
  <%= will_paginate  @books %>
<% end %>


