<tr>
          <td class="data"> <%= copy.text %> </td>
          <td class="data"> <%= copy.grade %></td> 
          <td class="data"> <%= User.find(copy.user.id).name %> <%= User.find(copy.user.id).surname %></td> 
          <td class="actions">
            <% if logged_in? %>
              <% if current_user.id == copy.user_id %>
                <%= link_to edit_copy_path(copy) do %>
                  <input type="button" value="Edit" class="btn btn-primary marginally_left"/>
                <% end %>
                <%= link_to copy_path(copy), :method => :delete do %>
                  <input type="button" value="Delete" class="btn btn-primary marginally_left"/>
                <% end %>
              <% end %>
            <% end %>
          </td>
</tr>
