<% provide(:title, @user.name) %>
<div class="row">
  <% if logged_in? && current_user.admin? && (not @user.activated?) %>
    <%= link_to edit_account_activation_path(@user) do %>
     <input type="button" value="Activate" class="btn btn-primary marginally_left"/>
    <% end %>
  <% end %>

</div>

<table class="show_book_table center">
    <tr>
      <td> Cover: </td>
      <td>
        <%= gravatar_for @user %>
      </td>
    </tr>
    <tr>
      <td  class="data"> <strong> Name: </strong> </td> <td  class="data"> <%= "#{@user.name} #{@user.surname}" %> </td>
    </tr>
    <tr>
      <td  class="data"> <strong> Pesel: </strong> </td> <td  class="data">  <%= @user.pesel %> </td>
    </tr>

    <tr> 
    <td  class="data"> <strong> Email: </strong> </td> <td  class="data">  <%= @user.email %> </td>
    </tr>
</table>