<div class="row ">
  <%= link_to book do %>
    <aside class="col-md-4">
      <%= image_tag book.picture.url if book.picture? %>
      <%= image_tag "temp.jpg" if !book.picture? %>
      <section class="synopsis">
        <span class="content">
          <p> <strong> Title: </strong> <%= book.title %> </p>
          <p> <strong> Author: </strong> <%= book.author %></p> 
      </section>
      </aside>
  </div>
<% end %>
