<% provide(:title, @book.title) %>

<div class="show_book">
<table class="show_book_table">
    <tr>
      <td> Cover: </td>
      <td>
            <%= image_tag book.picture.url if @book.picture? %>
            <%= image_tag "temp.jpg" if !@book.picture? %>
      </td>
    </tr>
    <tr>
      <td  class="data"> <strong> Title: </strong> </td> <td  class="data"> <%= @book.title %> </td>
    </tr>
    <tr>
      <td  class="data"> <strong> Author: </strong> </td> <td  class="data">  <%= @book.author %> </td>
    </tr>

</table>
<%= link_to edit_book_path(@book) do %>
  <input type="button" value="Edit" class="btn btn-primary"/>
<% end %>
<h1> <strong> Synopsis: </strong> </h1>
<div class="synopsis_text">
  <%= @book.synopsis %> 
</div>

<h1> <strong> Copies: </strong> </h1>
<%= link_to new_copy_path(id: @book.id) do %>
  <input type="button"  value="New" class="btn btn-primary"/>
<% end %>
<table class="center">
<tr>
<th class="data"> ISBN </th>
<th class="data"> Edition </th>
<th class="data"> Year of print </th>
<th class="data"> Number of orders </th>
<th class="data"> Availability </th>
</tr>
  <% @copies.each do |copy| %>
    <%= render copy %>
  <% end %>
</table>
<div style="{margin-left:auto; margin-right:auto;}">
</div>
</div>
