<% provide(:title, @book.title) %>

<div class="show_book">
<% if logged_in? && current_user.admin? %>
  <%= link_to edit_book_path(@book) do %>
    <input type="button" value="Edit" class="btn btn-primary"/>
  <% end %>
  <%= link_to book_path(@book), :method => :delete do %>
    <input type="button" value="Delete" class="btn btn-primary"/>
  <% end %>
<% end %>
<table class="show_book_table center">
    <tr>
      <td> Cover: </td>
      <td>
            <%= image_tag book.picture.url if @book.picture? %>
            <%= image_tag "temp.jpg" if !@book.picture? %>
      </td>
    </tr>
    <tr>
      <td  class="data"> <strong> Title: </strong> </td> <td  class="data"> <%= @book.title %> </td>
    </tr>
    <tr>
      <td  class="data"> <strong> Author: </strong> </td> <td  class="data">  <%= @book.author %> </td>
    </tr>

    <tr> 
		<td  class="data"> <strong> Genre: </strong> </td> <td  class="data">  <%= @book.genre.name %> </td>
    </tr>

</table>
<h1> <strong> Synopsis: </strong> </h1>
<div class="synopsis_text">
  <%= @book.synopsis %> 
</div>

<h1> <strong> Copies: </strong> </h1>
<table class="center copies">
<tr>
<th class="data"> ISBN </th>
<th class="data"> Edition </th>
<th class="data"> Year of print </th>
<th class="data"> Number of orders </th>
<th class="data"> Availability </th>
</tr>
  <% @copies.each do |copy| %>
    <%= render copy %>
  <% end %>
<% if logged_in? && current_user.admin? %>
  <tr> 
  	<td> 
  		<%= link_to new_copy_path(id: @book.id) do %>
   			<input type="button"  value="New" class="btn btn-primary"/>
  		<% end %>
  	</td>
  </tr>
<% end %>
</table>
<div style="{margin-left:auto; margin-right:auto;}">
</div>
</div>
