<h1>User Search</h1>
 
<%= form_for search_users_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>
<% if @users != [] %>

  <div class="users">
    <% @users.each do |user| %>
      <%= render :partial => 'users/user', :locals => {:user => user} %>
    <% end %>
  <%= will_paginate  @users %>

<% end %>


